$color-red: #B31F31;
$color-blue:#0E3C65;
$color-black: #223741;
$color-grey: #979797;
$color-grey-dark: #9FAAB7;
$color-grey-light: #F9FAFC;
$color-green: #13CE66;

$color-border: rgba(0,0,0,.125);

$ruler-base: 16px;
$ruler-lg: 32px;
$ruler-lead: 22px;
$ruler-sm: 8px;
$ruler-ty: 4px;
