$color-red: #b31f31;
$color-blue: #0e3c65;
$color-black: #223741;
$color-grey: #979797;
$color-grey-dark: #9faab7;
$color-grey-light: #f9fafc;
$color-green: #13ce66;
$color-dark-blue: #1f4772;
$color-active-menu: #173b61;

$color-border: rgba(0, 0, 0, 0.125);

$ruler-base: 16px;
$ruler-lg: 32px;
$ruler-lead: 22px;
$ruler-sm: 8px;
$ruler-ty: 4px;
