@import url("bootstrap.min.css");
@import url("https://unpkg.com/ionicons@4.4.4/dist/css/ionicons.min.css");
@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
body,
input,
textarea,
select,
button {
  font-family: 'Lato', sans-serif;
}

body {
  overflow-x: hidden;
  background-color: #f6f5f8;
}

h4,
h5,
.h4,
.h5,
.bold {
  font-weight: 700;
}

h4,
.h4 {
  font-size: 22px;
}

a,
p.bold {
  color: #0E3C65;
}

.btn-sm {
  border-radius: 16px;
  padding: 4px 16px;
}

.btn-primary {
  background-color: #0E3C65;
  border-color: #0E3C65;
}

.btn-danger {
  background-color: #B31F31;
  border-color: #B31F31;
}

.btn-link {
  color: #0E3C65;
}

.text-danger {
  color: #B31F31;
}

.text-primary {
  color: #0E3C65 !important;
}

@media (min-width: 1200px) {
  .container {
    max-width: 100% !important;
  }
}

img.logo {
  height: 42px;
}

@media screen and (max-width: 767px) {
  img.logo {
    height: 32px;
  }
}

.bubble-background {
  overflow-x: hidden;
}

.bubble-background .right-bubble {
  z-index: -1;
  right: -300px;
  width: 900px;
  height: 900px;
  margin-top: -40px;
  position: absolute;
  border-radius: 100%;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#0e3c65), to(#748abd));
  background-image: linear-gradient(to bottom right, #0e3c65, #748abd);
}

.bubble-background .left-bubble {
  z-index: -1;
  top: -400px;
  left: -350px;
  width: 800px;
  height: 800px;
  position: absolute;
  border-radius: 100%;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#0e3c65), to(#748abd));
  background-image: linear-gradient(to bottom right, #0e3c65, #748abd);
}

.bubble-background .middle-bubble {
  z-index: -1;
  top: 200px;
  left: 200px;
  width: 200px;
  height: 200px;
  position: absolute;
  border-radius: 100%;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#0e3c65), to(#748abd));
  background-image: linear-gradient(to bottom right, #0e3c65, #748abd);
}

.bubble-background div .login-form {
  margin-top: 120px;
  -webkit-box-shadow: 0px 0px 50px #2048738c;
          box-shadow: 0px 0px 50px #2048738c;
}

.fixed-height-layout {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.bring-to-front {
  z-index: 1000;
}

.h-100 {
  min-height: 100vh;
}

.btn-blue {
  background-color: #3c8dbc !important;
  border: #3c8dbc;
  color: white;
}

.btn-blue:not(:disabled):not(.disabled).active,
.btn-blue:not(:disabled):not(.disabled):active,
.show > .btn-blue.dropdown-toggle {
  -webkit-box-shadow: 0 0 0 0.2rem #9aceec !important;
          box-shadow: 0 0 0 0.2rem #9aceec !important;
}

.btn-blue.focus,
.btn-blue:focus {
  -webkit-box-shadow: 0 0 0 0.2rem #2e7aa7;
          box-shadow: 0 0 0 0.2rem #2e7aa7;
}

.btn-outline-blue {
  color: #3c8dbc;
  background-color: transparent;
  background-image: none;
  border-color: #3c8dbc;
}

.btn-outline-blue:hover {
  color: #fff;
  background-color: #3c8dbc;
  border-color: #3c8dbc;
}

.btn-outline-blue:not(:disabled):not(.disabled).active,
.btn-outline-blue:not(:disabled):not(.disabled):active,
.show > .btn-outline-blue.dropdown-toggle {
  color: #fff;
  background-color: #3c8dbc;
  border-color: #3c8dbc;
}

.btn-outline-blue.focus,
.btn-outline-blue:focus {
  -webkit-box-shadow: 0 0 0 0.2rem #3c8dbc;
          box-shadow: 0 0 0 0.2rem #3c8dbc;
}

.btn-outline-blue:not(:disabled):not(.disabled).active:focus,
.btn-outline-blue:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-blue.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem #3c8dbc;
          box-shadow: 0 0 0 0.2rem #3c8dbc;
}
/*# sourceMappingURL=style.css.map */